.c-heading {

  font-family: $obelixpro;
  font-weight: 700;
  line-height: 3.5rem;

  &--l1 {
    font-size: 4rem;
    line-height: 5.5rem;
  }

  &--l2 {
    font-size: 2rem;
  }

  &--l3 {
    font-size: 1.6rem;
  }

}