.c-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &__content {
    position: relative;
    max-width: 29rem;
    padding: 4rem 1rem;
    animation: animateModal 0.5s ease-in-out forwards;

    &>.c-heading {
      margin-bottom: 3.1rem;
      text-align: center;
      font-size: 1.8rem;
    }
    
    &>.c-type {
      text-align: center;
      max-width: 20.7rem;
      margin: 0 auto;
    }

    @media (min-width: 62em) {
      max-width: 60rem;
      padding: 11.8rem 4.4rem;

      &>.c-heading { font-size: 2.4rem; }
      &>.c-type { max-width: fit-content; }
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    transform: translate(-1rem, 1rem);

  }

}

@keyframes animateModal {
  0% {
    top: -50%;
    opacity: 0;
  }

  100% {
    top: 0%;
    opacity: 1;
  }
}