*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  height: 100%;
  // A font-size of 62.5% will create a base font-size of 10px in most cases
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font: 400 1.6rem/1.2 $roboto;
}
main{
  height: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}
